a.active,
a.active:visited {
    border-color: var(--accent);
    color: var(--accent);
}

.error-container {
   margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}