a.active,
a.active:visited {
    border-color: var(--accent);
    color: var(--accent);
}

.error-container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Style the error container */
.errors {
    color: #d9534f; /* Bootstrap danger color (red) */
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb; /* Slightly darker red border */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    list-style-type: none; /* Remove default bullet points */
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Style individual error messages */
.errors li {
    margin: 5px 0;
}

input[type=submit].btn-link, button.btn-link {
    color: var(--accent);
    border: 0 solid transparent;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-decoration: underline;
   border-radius: 0;
}

input[type=submit].btn-link:hover, button.btn-link:hover {
    text-decoration: none;
    color: var(--accent);
    filter: none;
}